// Heading Shiping
.b-heading__shipping {
  @apply h-10  xl:text-14px bg-main-violet text-white h-40px flex items-center justify-center hidden;
  @screen mdm {
    @apply shadow-200 text-center h-43px;
  }
}

// Search Global
.b-searchautocomplete__wrapper{
  @apply absolute left-0 text-left hidden w-full z-10 bg-white;
  border: 1px solid #e6e6e6;
  top: calc(100% - 3px);
  box-sizing: border-box;

  &.is_active{
    @apply block;
    @screen mdm {
      @apply visible opacity-100 top-auto;
    }
  }
  div#numberOfReviews,
  span#readMoreArrow,
  .tp-widget-wrapper{
    display: none!important;
  }
  .b-searchautocomplete__index-btn{
    padding: 10px;

    span.b-btn{
      @apply bg-main-2361aa rounded w-full text-16px h-44 text-white;
    }
  }
  .b-searchautocomplete__index-title{
    border-bottom: 1px solid #e6e6e6;
    padding: 12px 18px;
    font-weight: 600;
    @apply text-16px text-color-222;

    .b-searchautocomplete__close svg{
      width: 16px;
    }
  }
  .b-searchautocomplete__suggestText{
    border-bottom: 1px solid #e6e6e6;
    padding: 20px 16px 10px;

    li {
      @apply inline-block;
      margin: 0 5px 10px;
      &:hover a,
      &.is_active a{
        background: #ffff00;
      }

      div{
        height: 34px;
        padding: 0 15px;
        background: #f8f8f8;
        border-radius: 20px;
        color: #666666;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.2s alls;
        &:hover{
          background: #FEFF00;
        }
      }
    }
  }
  .b-searchautocomplete__list{
    overflow-y: scroll;
    max-height: calc(80vh - 113px);
    overflow-x: hidden;
    .tp-widget-stars .tp-stars{
      margin: 0;
    }
    li{
      width: 100%;
      padding: 20px 15px 20px 18px;
      border-bottom: 1px solid #e6e6e6;
      cursor: pointer;
      &:hover{
        transition: 0.2s all;
        background: #f8f8f8;
        .b-search__name{
          text-decoration: underline;
          transition: 0.2s all;
        }
      }
      @media (max-width: 767px) {
        padding: 10px 10px 0;
        border: none;
        .tp-widget-readmore-arrow,
        div#numberOfReviews{
          display: none;
        }
      }
      &:last-child{
        border: none;
      }
      .b-search__image{
        border: 1px solid #e6e6e6;
        min-width: 130px;
        margin-right: 15px;
        max-width: 130px;
        @media (max-width: 767px) {
          margin-right: 0;
          max-width: 110px;
          min-width: 110px;
        }
      }
      @media (max-width: 767px) {
        .b-search__info{
          border: 1px solid #e6e6e6;
          padding: 8px 8px;
          border-left: 0;
          width: 100%;
        }
      }
      .b-search__info{
        width: 100%;
      }
      a.b-search__name{
        font-size: 14px;
        font-weight: bold;
        color: #222;
        line-height: 20px;
      }
      .price-container{
        .price-nomal{
          font-size: 16px;
          font-weight: bold;
          padding-right: 10px;
        }
        .price-old{
          color: #999;
        }
      }
      .b-search__price{
        margin: 9px 0 0;
      }
      .price-final_price {
        margin-top: 7px;
      }
    }
  }
  .b-buttons__added{
    border-radius: 25px;
    @apply text-white bg-color-2362AA h-42px;
    @screen mdm{
      @apply text-14px;
    }
  }
}
.b-buttons__added{
  input{
    @apply border-0 max-w-55px cursor-pointer;
  }
}
// Mini Cart Golobal
.b-miniCart__qty {
  @apply h-20 bg-main-EAC200 flex items-center text-white justify-center pl-1 pr-1;
  border: 1px solid #F3DA61;
  border-radius: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  left: 50px;
  top: 3px;
  min-width: 20px;
  .b-miniCart-wrapper__mb & {
    @apply absolute;
    left: calc(100% - 13px);
    right: auto;
  }
}

// Dropdown Cart
.b-miniCart__dropdown {
  width: 440px;
  height: 100%;
  transform: translate3d(460px, 0px, 0px);
  transition: all 400ms ease-in-out;
  @screen mdm {
    transform: translate3d(340px, 0px, 0px);
    width: 340px;
  }
  &.is_active{
    transform: translate3d(0, 0px, 0px);
  }
  .b-block-title{
    padding: 25px 20px;
    border-bottom: 2px solid #e6e6e6;
    @screen mdm {
      padding: 15px 10px;
      margin-bottom: 5px;
    }
    .text{
      font-size: 24px;
      @screen mdm {
        font-size: 18px;
      }
    }
  }
  .b-miniCart-content-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    .b-block-content{
      height: 100%;
      overflow-y: scroll;
      @screen md{
        padding: 15px;
      }
      &::-webkit-scrollbar {
        width: 5px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }
  strong.product-item-name {
    line-height: 20px;
  }
  .product-item__action{
    right: -5px;
    > a{
      &.action svg {
        width: 16px;
      }
      &.action.delete{
        margin-bottom: 15px;
        @screen mdm {
          margin-bottom: 8px;
        }
      }
    }
  }

  .b-miniCart-items-wrapper {
    height: 100%;
    @screen mdm {
      padding: 12px;
    }

    .product-item {
      padding: 20px 20px 10px;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      @screen mdm {
        padding: 10px;
        margin-bottom: 12px;
      }
      .product-item__inner{
        .product-item__image{
          max-width: 140px;
          @screen mdm  {
            @apply max-w-80;
          }
          img{
            @apply w-full;
            @apply w-full;
            min-width: 110px;
            max-width: 110px;
            @screen mdm  {
              @apply max-w-80 min-w-80;
            }
          }
        }
        .product-item__details{
          padding-left: 10px;
          padding-right: 25px;
        }
      }
    }
    .b-qty__group{
      color: #828282;
      .b-btn{
        @apply h-26px w-26px;
        background: #f1f1f5;
        border-radius: 100%;
        @screen mdm {
          width: 22px;
          height: 22px;
        }
      }
      .b-qty__number{
        min-width: 40px;
        line-height: 28px;
        @screen mdm{
          min-width: 30px;
          line-height: 22px;
          @apply text-14px;
        }
      }
    }

    .product-options {
      margin-top: 9px;

      i{
        padding-left: 5px;
      }
      .product-options__list{
        .label{
          margin: 7px 0;
        }
      }
    }
    .product-item__pricing{
      margin: 10px 0 0;
      .price-old{
        font-size: 14px;
        text-decoration: line-through;
        padding-left: 10px;
      }
    }
  }
  .product-item__subtotal {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 20px 15px;
    margin-bottom: 15px;
  }
  .product-item__bottom{
    border-top: 1px solid #e6e6e6;
    margin: 13px -20px 0;
    padding: 10px 20px 0;
    @screen mdm {
      margin: 8px 0 0;
      padding: 15px 0 5px;
    }
  }
  .product-item__checkout{
    padding: 3px 20px 20px;
    @screen mdm {
      padding: 3px 10px 10px;
    }
    div.action {
      &.viewCart{
        position: relative;
        padding-left: 15px;
        @screen mdm {
          padding-left: 15px;
        }
        &:before{
          content: "";
          background: url("../../images/icon-cart.svg") no-repeat;
          width: 26px;
          height: 30px;
          position: absolute;
          left: 35px;
          top: 5px;
          @screen mdm {
            left: 15px;
          }
        }
        span.qty{
          min-width: 23px;
          padding: 0 3px;
          height: 23px;
          background: #eac200;
          border: 1px solid #fff;
          left: 20px;
          top: 10px;
          border-radius: 23px;
          @screen mdm {
            left: 15px;
          }
        }
      }
      &.checkout{
        background: #eac200;
      }
    }
  }
}

// Screen Active Cart
.b-mob-screen.is_active {
  @apply  z-98 opacity-100 visible;
}

header.stickyHead{
  @apply z-99 w-full top-0 fixed bg-white;
  .b-header-top,
  .b-header-center,
  .b-heading__shipping{
    @apply hidden;
  }
  .b-header-bottom{
    background: #fff;
    border-bottom: 1px solid #eee;
    .b-horizontal-menu li.nav-item > div span{
      color: #222;
    }
  }
  + main{
    padding-top: 70px;
  }
}

.b-header-top{
  background: #26ade4;
  color: #fff;
  border-radius: inherit;
  border: none;
  padding: 8px 28px;
  .b-header-links{
    @apply flex justify-end items-center;
    >li {
      margin: 0 0 0 15px;
      cursor: pointer;
      &.nav.item {
        padding-right: 20px;
        box-shadow: 1px 0 0 rgba(255,255,255,.2);
      }
      &:last-child span {
        display: inline-block;
        padding: 0.35em 0.8em;
        background: #149cd2;
        border-radius: 3px;
      }
    }
  }
}