
.navigator-options{
  button.swatch-option {
    border: 1px solid #ddd;
    background: #fff;
    height: 35px;
    min-width: 35px;
    margin: 0 5px 5px 0;
    transition: 0.2s all;
    cursor: pointer;
    &:hover{
      box-shadow: 0 0 11px rgba(33,33,33,.2);
    }
    &.color{
      font-size: 0;
      &:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.2);
      }
    }
  }
}
.ui-navigator-container{
  text-align: left;
  margin: 0;
  position: relative;

}
.navigator-item{
  display: inline-block;
  cursor: pointer;
  padding: 0 25px;
  span {
    position: relative;
    color: #444;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    &:before {
      content: "";
      width: 0%;
      height: 2px;
      bottom: -5px;
      position: absolute;
      right: 50%;
      transition: 0.2s all;
      opacity: 1;
      background: #222;
    }
  }
  &.navigator-item-activated {
    span{
      font-weight: 600;
      color: #000;
      &:before{
        content: "";
        width: 100%;
        position: absolute;
        right: 0;
        opacity: 1;

      }
    }
  }
}

@media (min-width: 1200px){
  .navigator-flyout-container {
    margin-top: 23px;
  }
}

.navigator-flyout-container {
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 70vh;
  left: 0;
  right: 0;
  opacity: 1;
  display: block;
  position: absolute;
  visibility: visible;
  //pointer-events: none;
  transition: all .3s ease;
  color: #5a5a5a;
  background-color: #fff;
  transform: translate3d(0, 50px, 0);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.1);
  top: 0;
  z-index: 10;
  width: 100vw;
}
.navigator-flyout{
  display: flex;
  align-items: stretch;

  @media (min-width: 1200px){
    width: auto;
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1200px;
  }
  @media (min-width: 1500px){
    padding: 0 40px;
  }
  > .navigator-selection-container{
    width: 25%;
    padding: 25px 15px;
  }
}
.navigator-name{
  display: block;
  letter-spacing: 1.87px;
  margin: 0 0 14px;
  font-weight: 600;
  .selection-lv1 &{
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
  }
  .selection-lv2 &{
    font-size: 12px;
    color: #666;
    text-transform: inherit;
  }
}
.navigator-link{
  font-weight: 600;
  font-size: 14px;
  color: #222;
  text-decoration: underline;
  cursor: pointer;
}