//Breadcrumb
.breadcrumbs,
.ui-breadcrumb{
  display: flex;
  align-items: center;
  padding: 5px 0;
  .back-name{
    padding-left: 5px;
  }
  .back-icon{
    padding: 0 10px;
    position: relative;
    top: -1px;
  }
  li.ui-breadcrumb_item {
    display: inline-block;
    position: relative;
    padding: 0 13px;
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
    a{
      cursor: pointer;
      &:hover{
        color: #D92728;
      }
    }
    &:after{
      content: "";
      position: absolute;
      height: 5px;
      width: 5px;
      border-radius: 100%;
      background: #C5CCE2;
      right: -3px;
      top: 55%;
      transform: translateY(-50%);
      font-size: 14px;
    }
  }
  .ui-back__btn{
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
    &:hover{
      color: #D92728;
    }

    .gl-icon--size-communication{
      height: 19px;
      width: 19px;
      padding-right: 5px;
      position: relative;
      top: -2px;
    }

  }
}

.ui-category__name{
  font-size: 20px;
  margin: 15px 0;
  @media (min-width: 960px){
    font-size: 32px;
    margin: 20px 0px 30px;
    text-transform: uppercase;
  }
}



.ui-aggregation {
  background-color: transparent;
  margin-top: 10px;
  padding: 2px 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 10px;
  z-index: 9;
  .ui-aggregation__list {
    display: flex;
    flex-wrap: wrap;
    max-height: 40px;
    overflow: hidden;
    padding-right: 40px;
    transition: 0.3s all;
    &.ui-filters-more{
      max-height: initial;
    }
  }
  &:before {
    content: "";
    width: 100%;
    background-color: #fff;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transition: all .2s ease;
    z-index: -1;
    border-top: 1px solid #ebedee;
    border-bottom: 1px solid #ebedee;
  }
}

.ui-filter__title {
  border: 1px solid transparent;
  border-bottom: none;
  padding: 0 30px 0 10px;
  height: 41px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  margin-top: 0;
  text-transform: uppercase;
  &:hover {
    border-color: #000;
  }
}

.gl-icon.icon___lKix6 {
  width: 12px;
  height: 12px;
  transform: scaleY(1);
  right: 10px;
  position: absolute;
}

.ui-checkbox__label {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  line-height: 24px;
  margin-bottom: 0;
  position: relative;
  width: 100%;
  font-size: 16px;
}

.ui-filter-options {
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .swatch-grid {
    width: auto;
    margin-bottom: 10px;
  }

  .ui-checkbox__label {
    width: auto;
  }

  .ui-checkbox__icon {
    border: none;

    &.white {
      border: 2px solid #767677;
    }
  }

  .ui-checkbox__text {
    width: 33.33%;
    @media (min-width: 960px) {
      width: 50%;
    }

    button.swatch-options {
      border-radius: 0;
      background: #fff;
      border: none;
      width: 100%;
      display: inline-block;
      padding: 0 5px 5px 0;

      span {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 20px;
        font-style: normal;
        font-weight: 400;
        border: 1px solid #767677;
        cursor: pointer;
        flex-direction: row;
        flex-grow: 1;
        height: 40px;
        min-width: 40px;
        padding: 0 14px;
        position: relative;
        text-align: center;
        transition: border .1s;

        &:after {
          background-color: #222;
          bottom: 0;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          width: 0;
          position: absolute;
          transition: 0.2s all;
          opacity: 0;
        }
      }
      &:hover,
      &.active {
        span:after {
          left: 0;
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
}

.ui-checkbox__input {
  cursor: pointer;
  flex-shrink: 0;
  height: 24px;
  margin: 0 14px 0 0;
  opacity: 0;
  pointer-events: all;
  width: 24px;

  &:checked ~ .ui-checkbox__icon {
    background: #000;
    border-color: #000;
    color: #fff !important;
  }
}

.ui-checkbox__icon {
  align-items: center;
  background: #fff;
  border-radius: 0;
  border: 2px solid #767677;
  box-sizing: border-box;
  color: transparent;
  display: flex;
  height: 24px;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: border-color .1s cubic-bezier(.3, 0, .45, 1);
  width: 24px !important;
  vertical-align: text-top;
}


//Fillter

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  30%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size!important;
    height: $size!important;;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color!important;;
  }

  &::-webkit-scrollbar-track {
    background: $background-color!important;;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color!important;;
    scrollbar-track-color: $background-color!important;;
  }
}
.ui-selected_filters{
  padding-top: 12px;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  @media (min-width: 960px){
    padding: 0;
    min-height: 60px;
    flex-wrap: wrap;
    overflow-x: hidden
  }
  .ui-filter_item{
    display: inline-block;
    margin: 5px;
    vertical-align: top;
    cursor: pointer;
    color: #000;
    flex-shrink: 0;
    &:first-child{
      margin-left: 0;
    }
    @media (min-width: 960px){
      margin: 0 6px 10px 4px;
    }
    >span{
      background-color: #f5f6f6;
      flex-direction: row-reverse;
      padding: 0 10px 0 10px;
      border: 1px solid #ebedee;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 26px;
    }
    .gl-icon {
      height: 10px;
      margin: 1px 0 0 15px;
      width: 10px;
    }
  }
}
.ui-filter_Clear{
  padding-right: 4px;
  display: inline-block;
  margin: 5px;
  vertical-align: top;
  cursor: pointer;
  color: var(--color-red);
  text-decoration: underline;
  flex-shrink: 0;
  @media (min-width: 960px){
    margin: 0 6px 10px 20px;
  }
  &:hover{
    text-decoration: underline;
  }
}
.gl-product-card__carousel{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.ui-horizontal-filter{
  &:hover{
    .ui-filter__content{
      display: block;
    }
    .ui-filter__title{
      border-color: #000;
      border-bottom: none;
      background-color: #fff;
      &:before{
        content: "";
        width: 100%;
        background: #fff;
        bottom: 0;
        height: 2px;
        position: absolute;
        z-index: 1000;
        left: 0;
        right: 0;
      }
    }
  }
}
.ui-filter__content{
  width: 300px;
  overflow: auto;
  position: absolute;
  z-index: 97;
  background: #fff;
  border: 1px solid #000;
  margin-top: -2px;
  max-height: 50vh;
  padding: 10px 15px 5px;
  display: none;
  @include scrollbars(.6em, #b9b9b9);
}
.gl-dropdown-custom__select-element{
  font-size: 14px;
  border: none;
  outline: none;
  color: #2f333a;
  text-transform: uppercase;
  font-family: 'GMV DIN Pro';
  option {
    font-size: 14px;
    color: #2f333a;
    text-transform: capitalize;
  }
}
.ui-form__filter{
  display: flex;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  height: 40px;
  .gl-dropdown-custom__options{
    margin-right: 15px;
    position: relative;
    padding-right: 10px;
    &:before{
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='arrow-down' viewBox='0 0 16 24'%3E%3Ctitle%3Earrow-down%3C/title%3E%3Cpath fill='none' stroke='currentColor' strokeMiterlimit='10' strokeWidth='2' d='M1.5 9L8 15.5 14.5 9' %3E%3C/path%3E%3C/svg%3E");
      position: absolute;
      background-repeat: no-repeat;
      width: 14px;
      height: 14px;
      right: 0;
      top: 50%;
      margin-top: -5px;
    }
    select{
      -moz-appearance: none;
      -webkit-appearance: none;
    }
  }
  .ui-select-size{
    padding-right: 10px;
    white-space: nowrap;
    cursor: pointer;
  }
}
a.collapse-controller {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 0 15px;
  cursor: pointer;
  span{
    padding-right: 5px;
  }
  .gl-icon{
    width: 12px;
  }
}

//Pagination DF
.ui-pagination{
  text-align: center;
  margin: 25px auto;
  .MuiFormControl-root{
    display: flex;
    flex-direction: unset!important;
    flex: 1;
    align-items: center;
    justify-content: center;
    .MuiOutlinedInput-root{
      margin: 0 10px;
    }
  }
  >div{
    line-height: 50px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }
  .MuiOutlinedInput-input {
    padding: 10px 14px;
  }
}
